<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
		point="org.eclipse.ui.views">
		<category
			name="Ontology Category"
			id="edu.harvard.i2b2.eclipse.plugins.ontology">
      </category>
      <view
            name="Navigate Terms"
            icon="icons/core-cell.gif"
            category="edu.harvard.i2b2.eclipse.plugins.ontology"
            class="edu.harvard.i2b2.eclipse.plugins.ontology.views.OntologyView"
            id="edu.harvard.i2b2.eclipse.plugins.ontology.views.ontologyView">
      </view>
            <view
            name="Find Terms"
            icon="icons/core-cell.gif"
            category="edu.harvard.i2b2.eclipse.plugins.ontology"
            class="edu.harvard.i2b2.eclipse.plugins.ontology.views.find.FindView"
            id="edu.harvard.i2b2.eclipse.plugins.ontology.views.find.findView">
      </view>
        <view
            name="Edit Terms"
            icon="icons/core-cell.gif"
            category="edu.harvard.i2b2.eclipse.plugins.ontology"
            class="edu.harvard.i2b2.eclipse.plugins.ontology.views.edit.EditView"
            id="edu.harvard.i2b2.eclipse.plugins.ontology.views.edit.editView">
      </view>
   </extension>
      <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="edu.harvard.i2b2.eclipse.perspective">
         <view
         	   visible="true"
               id="edu.harvard.i2b2.eclipse.plugins.ontology.views.ontologyView"
               ratio="0.75"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
         	   visible="true"
               id="edu.harvard.i2b2.eclipse.plugins.ontology.views.find.findView"
               ratio="0.75"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
      <extension
            point="org.eclipse.ui.viewActions">
        <viewContribution
            id="edu.harvard.i2b2.eclipse.plugins.ontology.viewActions"
            targetID="edu.harvard.i2b2.eclipse.plugins.ontology.views.ontologyView">
        <action
               class="edu.harvard.i2b2.eclipse.plugins.ontology.views.ViewStackToolbarActionDelegate"
               icon="icons/xmlstack.gif"
               id="edu.harvard.i2b2.eclipse.plugins.ontology.viewResponseMessageStack"
               label="XMLMessageStack"
               style="push"
               toolbarPath="additions"
               tooltip="Display the XML message stack"/>
        <action
               class="edu.harvard.i2b2.eclipse.plugins.ontology.views.ViewOptionToolbarActionDelegate"
               icon="icons/options_1.gif"
               id="edu.harvard.i2b2.eclipse.plugins.ontology.viewOptions"
               label="Opti&amp;ons"
               state="false"
               style="push"
               toolbarPath="additions"
               tooltip="Display the options dialog"/>
      </viewContribution>
      <viewContribution
            id="edu.harvard.i2b2.eclipse.plugins.ontology.viewActions"
            targetID="edu.harvard.i2b2.eclipse.plugins.ontology.views.find.findView">
        <action
               class="edu.harvard.i2b2.eclipse.plugins.ontology.views.ViewStackToolbarActionDelegate"
               icon="icons/xmlstack.gif"
               id="edu.harvard.i2b2.eclipse.plugins.ontology.find.viewResponseMessageStack"
               label="XMLMessageStack"
               style="push"
               toolbarPath="additions"
               tooltip="Display the XML message stack"/>
        <action
               class="edu.harvard.i2b2.eclipse.plugins.ontology.views.find.ViewOptionToolbarActionDelegate"
               icon="icons/options_1.gif"
               id="edu.harvard.i2b2.eclipse.plugins.ontology.find.viewOptions"
               label="Opti&amp;ons"
               state="false"
               style="push"
               toolbarPath="additions"
               tooltip="Display the options dialog"/>
      </viewContribution>
      <viewContribution
            id="edu.harvard.i2b2.eclipse.plugins.ontology.viewActions"
            targetID="edu.harvard.i2b2.eclipse.plugins.ontology.views.edit.editView">
         <action
               class="edu.harvard.i2b2.eclipse.plugins.ontology.views.edit.ViewStackToolbarActionDelegate"
               icon="icons/xmlstack.gif"
               id="edu.harvard.i2b2.eclipse.plugins.ontology.edit.viewResponseMessageStack"
               label="XMLMessageStack"
               style="push"
               toolbarPath="additions"
               tooltip="Display the XML message stack">
         </action>
          <action
               class="edu.harvard.i2b2.eclipse.plugins.ontology.views.edit.ViewOptionToolbarActionDelegate"
               icon="icons/options_1.gif"
               id="edu.harvard.i2b2.eclipse.plugins.ontology.edit.viewOptions"
               label="Opti&amp;ons"
               state="false"
               style="push"
               toolbarPath="additions"
               tooltip="Display the options dialog"/>
      </viewContribution>
      </extension>
                  <extension point="org.eclipse.ui.contexts">
      	<context
      		id="navigate_terms_view_help_context"
      		name="Navigate Terms View"
      		parentId="edu.harvard.i2b2.eclipse.plugins.ontology.views.ontologyView">
      	</context>
		<context
      		id="find_terms_view_help_context"
      		name="Find Terms View"
      		parentId="edu.harvard.i2b2.eclipse.plugins.ontology.views.find.findView">
      	</context>
  <context
        id="edit_terms_view_help_context"
        name="Edit Terms View"
        parentId="edu.harvard.i2b2.eclipse.plugins.ontology.views.edit.editView">
  </context>
      </extension>
      <extension point="org.eclipse.help.contexts">
		<contexts
			file="help_contexts_navigate.xml"
			plugin="edu.harvard.i2b2.eclipse.plugins.ontology">
		</contexts>
		<contexts
			file="help_contexts_find.xml"
			plugin="edu.harvard.i2b2.eclipse.plugins.ontology">
		</contexts>
  		<contexts
        	file="help_contexts_edit.xml"
        	plugin="edu.harvard.i2b2.eclipse.plugins.ontology">
  		</contexts>
  		<contexts
			file="help_edit_wizard_container.xml"
			plugin="edu.harvard.i2b2.eclipse.plugins.ontology">
		</contexts>
		<contexts
			file="help_edit_wizard_folder.xml"
			plugin="edu.harvard.i2b2.eclipse.plugins.ontology">
		</contexts>
 		<contexts
			file="help_edit_wizard_item.xml"
			plugin="edu.harvard.i2b2.eclipse.plugins.ontology">
		</contexts>
 		<contexts
			file="help_edit_wizard_queryDimension.xml"
			plugin="edu.harvard.i2b2.eclipse.plugins.ontology">
		</contexts>
 		<contexts
			file="help_edit_wizard_verifyData.xml"
			plugin="edu.harvard.i2b2.eclipse.plugins.ontology">
		</contexts>
   <contexts
         file="help_edit_wizard_valueRangeMetadata.xml"
         plugin="edu.harvard.i2b2.eclipse.plugins.ontology">
   </contexts>
   <contexts
         file="help_edit_wizard_valueMetadata.xml"
         plugin="edu.harvard.i2b2.eclipse.plugins.ontology">
   </contexts>
   <contexts
         file="help_edit_wizard_unitValue.xml"
         plugin="edu.harvard.i2b2.eclipse.plugins.ontology">
   </contexts>
   <contexts
         file="help_edit_wizard_enumValues.xml"
         plugin="edu.harvard.i2b2.eclipse.plugins.ontology">
   </contexts>
   <contexts
         file="help_edit_wizard_synchronization.xml"
         plugin="edu.harvard.i2b2.eclipse.plugins.ontology">
   </contexts>
   <contexts
         file="help_edit_wizard_synonyms.xml"
         plugin="edu.harvard.i2b2.eclipse.plugins.ontology">
   </contexts>
   <contexts
         file="help_edit_wizard_editSettings.xml"
         plugin="edu.harvard.i2b2.eclipse.plugins.ontology">
   </contexts>
      </extension>
      <extension point="org.eclipse.help.toc">
      	<toc
      		file="toc_navigate.xml"
      		primary="true"/>
 		<toc
      		file="toc_find.xml"
      		primary="true"/>
   		<toc
         	file="tocconcepts_find.xml"
         	primary="false">
   		</toc>
   		<toc
         	file="tocconcepts_navigate.xml"
         	primary="false">
   		</toc>
   		<toc
         	file="toc_edit.xml"
         	primary="true">
   		</toc>
   		<toc
         	file="tocconcepts_edit.xml"
         	primary="false">
   		</toc>
   		<toc
         	file="tocconcepts_edit_synch.xml"
         	primary="false">
   		</toc>
   		<toc
         	file="tocconcepts_edit_wizard.xml"
         	primary="false">
   		</toc>
      </extension>
 
 </plugin>
