<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension 
		point="org.eclipse.ui.views">
		<category
			name="Previous Query Category"
			id="edu.harvard.i2b2.eclipse.plugins.previousQuery">
		</category>
		<view
			name="Patient Sets"
			icon="icons/core-cell.gif"
			category="edu.harvard.i2b2.eclipse.plugins.previousQuery"
			class="edu.harvard.i2b2.eclipse.plugins.patientSet.views.PatientSetView"
			id="edu.harvard.i2b2.eclipse.plugins.patientSet.views.PatientSetView">
		</view>
	</extension>
	<extension
		point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="edu.harvard.i2b2.eclipse.perspective">
			<view
				closeable="true"
				id="edu.harvard.i2b2.eclipse.plugins.patientSet.views.PreviousQueryView"
				moveable="true"
				ratio="0.5"
				relationship="bottom"
				relative="edu.harvard.i2b2.eclipse.plugins.ontology.views.ontologyView"
				standalone="false"
				visible="false">
			</view>
		</perspectiveExtension>
	</extension>
	<extension
		point="org.eclipse.ui.viewActions">
		<viewContribution
			id="edu.harvard.i2b2.eclipse.plugins.patientSet.viewActions"
			targetID="edu.harvard.i2b2.eclipse.plugins.patientSet.views.PatientSetView">
			<action
				class="edu.harvard.i2b2.eclipse.plugins.patientSet.views.ViewStackToolbarActionDelegate"
				icon="icons/xmlstack.gif"
				id="edu.harvard.i2b2.eclipse.plugins.patientSet.viewResponseMessageStack"
				label="ResponseMessageStack"
				style="push"
				toolbarPath="additions"
				tooltip="Display the XML message stack"/>
			<action
				class="edu.harvard.i2b2.eclipse.plugins.patientSet.views.ViewOptionToolbarActionDelegate"
				icon="icons/options_1.gif"
				id="edu.harvard.i2b2.eclipse.plugins.patientSet.viewOptions"
				label="Opti&amp;ons"
				state="false"
				style="push"
				toolbarPath="additions"
				tooltip="Display the options dialog"/>
		</viewContribution>
	</extension>
	<extension
		id="i2b2workbenchv3"
		point="org.eclipse.core.runtime.products">
		<product
			application="edu.harvard.i2b2.eclipse.application"
			name="i2b2 Workbench"/>
	</extension>
	<extension
		point="org.eclipse.ui.contexts">
		<context
			id="patientSet_view_help_context"
			name="Patient Set View"
			parentId="edu.harvard.i2b2.eclipse.plugins.patientSet.views.patientSetView">
		</context>
	</extension>
	<extension point="org.eclipse.help.contexts">
		<contexts
			file="help_contexts.xml"
			plugin="edu.harvard.i2b2.eclipse.plugins.patientSet">
		</contexts>
	</extension>
	<extension point="org.eclipse.help.toc">
		<toc
			file="toc.xml"
			primary="true"/>
		<toc
        	file="tocconcepts.xml"
        	primary="false">
		</toc>
	</extension>
</plugin>
