
### edu.harvard.i2b2.eclipse.plugins.previousQuery ###

.metadata
.settings/
bin/
temp/
.project
.cvsignore
/.classpath
/build.properties
/genlib/
/gensrc/

### from .cvsignore ###
gensrc
dist
genlib
lib
test

