img {
	width: 30px;
	height: 30px;
	vertical-align: middle;
	}

/* Give some space for main div.*/	
.page-style {
	text-align: left;
	margin-top:80px;
	}
	
/* satisfy Mozilla */	
body > div.page-style {
	padding-left:10%;
	}


#content {
	text-align:left;
	width:23em;
	} 




		

