/* Shared style applied to all pages */
/* trick to get desired scroll bar behavior on all browsers */ 
html {
	overflow:auto;
	border:0px;
	height:100%;
	}

	
body {	
	margin-left:14px;
	margin-top:10px;
	font-family:Tahoma;
	font-size: 12px;
	color:#000000;
	background-image:url("../images/leaf.gif");
	background-repeat: repeat-x;
	} 
	
h1 {
	text-align:left;
	font-size: 16pt;
	font-weight:normal;	
	color:#008080;
	} 

h4 {	
	color:#376b8b;
	}	
	
a {
	display:block;
	font-family:Tahoma;
	font-size: 12px;
	color:#000000;
	font-weight:normal;
	text-decoration:none;
	padding-bottom:20px;
	}
	
p {
	padding-left:14px;
	}
	

